# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
__debug_bin

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/
sdk/tssv

# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Development Docker Data
/.data
build/.data

# Downloaded models
/models
/models-tmp

# Collected data folder
data/

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.swp

# IDE - VSCode
.vscode/launch.json
.vscode/settings.json

# Env Files
.env
ci_cd_ssh_url
ci_cd_env_url

# Compiled files
/pkg/api/python

# Cmd (Compiled Files)
titan
!titan/
fenrir
!fenrir/
io
!io/
sample_data
!sample_data/
model_download
!model_download/
